@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-moderate-violet: hsl(263, 55%, 52%);
  --primary-dark-grayish-blue: hsl(217, 19%, 35%);
  --primary-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --neutral-light-gray: hsl(0, 0%, 81%);
  --neutral-light-grayish-blue: hsl(210, 46%, 95%);
  font-size: 13px;
}


main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-block: 5.46rem;
  padding-inline: 1.84rem;
  background-color:  var(--neutral-light-grayish-blue);
  gap: 1.846rem;
}

.card:first-child {
  background-image: url("/public/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.card {
  padding-inline: 2.46rem;
  padding-block: 2rem 2.46rem;
  border-radius: 0.615rem;

}

.card > header {
  display: inline-flex;
  gap: 1.3rem;
  align-items: center;
  margin-block-end: 1.38rem;
}

.name {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: left;
  color: var(--white);
}

div:has(> .name) > :last-child {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.84rem;
  line-height: 0.84rem;
  letter-spacing: 0;
  text-align: left;
  color: var(--white);
  opacity: 0.5;
}

.review-title {
  margin-block-end: 1.23rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.846rem;
  letter-spacing: 0;
  color: var(--white);
}

.review-description {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.38rem;
  color:  var(--white);
  opacity: 0.7;
}


.card > header > :last-child {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

img {
  width: 2.15rem;
  height: 2.15rem;
  border-radius: 100%;
}

.card:nth-child(1) {
  background-color: var(--primary-moderate-violet);
}

.card:nth-child(2) {
  background-color: var(--primary-dark-grayish-blue);
}

.card:nth-child(3), .card:nth-child(5) {
  background-color: var(--white);
}

.card:nth-child(3) div:has(.name) :is(.name, :last-child),
.card:nth-child(5) div:has(.name) :is(.name, :last-child),
.card:nth-child(3) :is(.review-title, .review-description),
.card:nth-child(5) :is(.review-title, .review-description){
  color: var(--primary-dark-grayish-blue);
}

.card:nth-child(4) {
  background-color: var(--primary-dark-blackish-blue);
}

@media (min-width: 596px) {

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 21.69rem;
    gap: 2.3rem 1.84rem;
    padding-block: 12.61rem;
    padding-inline: 12.69rem;
  }

  .card:nth-child(1) {
    grid-column: span 2;
  }

  .card:nth-child(3) {
    grid-column: 1;

  }

  .card:nth-child(4) {
    grid-column: 2 / span 2;
  }

  .card:last-child {
    grid-column: 4;
    grid-row: 1 /span 2;
  }
}

